* {
    margin: 0%;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: rgb(17, 58, 89);
    color: white;
    font-family:'Lora';
    padding: 2%;
    text-align: center;
}

/* MAIN */
main {
    margin: 3%;
    font-family:'Lora';
}

/* FLEX CONTROL */
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

/* SEARCH PANEL */
.search-container {
    margin: 3%;
}

#search-for {
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgb(30, 101, 155);
    padding: 3%;
    border-radius: 10px;
    margin-bottom: 3% ;
}

input {
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
}

#search-btn {
    margin: 3%;
    padding: 5%;
    width: 90%;
    background-color: rgba(112, 148, 175, 0.773);
    border-style: none;
    border-radius: 10px;
    font-family:'Lora';
    font-size: 1rem;
}

.city-list {
    text-align: center;
    padding: 0%;
}

#list-title {
    font-size: 1.1rem;
    margin-bottom: 5%;
    margin-top: 2%;
}

.list-buttons {
    margin: 1%;
    padding: 5%;
    width: 100%;
    background-color: rgb(39, 130, 200);
    border-style: none;
    border-radius: 10px;
    font-family:'Lora';
    font-size: 1rem;
}

.search-history-container {
    margin-bottom: 3%;
}

.search-history{
    background-color: rgba(112, 148, 175, 0.347);
    border-radius: 10px;
    margin-left: 5%;
    padding: 5%;
    width: 90%;
    justify-content: center;
    display: block;
    font-size: .7rem;
}

li {
    list-style: none;
    font-weight: 400;
    margin-bottom: 1%;
}

li:hover {
    font-weight: 1000;
}

a {

}

/* CURRENT WEATHER DISPLAY */
.weather-container {
    margin: 3%;
    width: 70%
}

.current-weather-container {
    width: 100%;
    text-align: left;
}

.current-weather-card-container {
    width: 100%;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
}

.current-weather-card {
    background-color: rgb(28, 97, 150);
    border-radius: 5px;
    padding: 3%;
    text-align: left;
}

#date {
    margin-bottom: 2%;
}
#temp,
#wind,
#humidity {
    margin-bottom: 1%;
    margin-top: 3%;
}

/* FORECAST DISPLAY */
.forecast-container {
    max-width: 100%;
    text-align: left;
}

.forecast-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.forecast-card {
    margin: 1%;
    background-color:
     rgb(39, 130, 200);
    border-radius: 5px;
    padding: 3%;
    text-align: left;
}

h3 {
    margin-bottom: 2%;
}

h4 {
    margin-bottom: 25%;
}
h5 {
    margin-top: 20%;
}

/* XXS -- iPhone 14 Pro Max */
@media (min-width: 363px) {
    .weather-container { 
        margin-left: 12.5%;
    }
    .forecast-card-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
    }

    .search-container {
        margin-left: 25%;
    }

    h4 {
        margin-bottom: 10%;
    }
    h5 {
        margin-top: 8%;
    }
}

/* XS */
@media (min-width: 475px) {
    .weather-container { 
        margin-left: 15%;
    }
    .forecast-card-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        text-align: center;
    }

    .search-container {
        margin-left: 33%;
    }

    h4 {
        margin-bottom: 10%;
    }
    h5 {
        margin-top: 8%;
    }
}

/* S -- EX. Microsoft Lumia 550 */
@media (min-width: 640px) {
    .weather-container { 
        margin-left: 5%;
        width: 60%
    }
    .forecast-card-container {
        display: inline;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        width: 20%;
    }
    .flex-row {
        display: flex;
        flex-wrap: nowrap;
    }

    .search-container {
        margin-left: 5%;
    }

    h4 {
        margin-bottom: 10%;
    }
    h5 {
        margin-top: 8%;
    }
}

/* M -- EX. iPad */
@media (min-width: 768px) {
    .weather-container { 
        margin-left: 5%;
        width: 70%
    }
    .forecast-card-container {
        display: inline;
        flex-direction: row;
        flex-wrap: nowrap;
        text-align: center;
        width: 10%;
    }
    .flex-row {
        display: flex;
        flex-wrap: nowrap;
    }

    .search-container {
        margin-left: 5%;
    }

    h4 {
        margin-bottom: 10%;
    }
    h5 {
        margin-top: 8%;
    }
}

/* LG -- EX. iPad Pro */
@media (min-width: 1024px) {
    .weather-container {
        margin: 3%;
        width: 70%
    }
    .forecast-container {
        max-width: 100%;
        text-align: left;
        margin-right: 30%;
    }
    .forecast-card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: stretch;
        width: 100%;
    }
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .search-container {
        margin: 3%;
    }
    h4 {
        margin-bottom: 10%;
    }
    h5 {
        margin-top: 8%;
    }
}

/* XL LG -- EX. Nest Hub Max */
@media (min-width: 1280px) {
    .weather-container {
        margin: 3%;
        width: 70%
    }
    .forecast-container {
        max-width: 100%;
        text-align: left;
        margin-right: 0%;
    }
    .forecast-card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: stretch;
        width: 100%;
    }
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .search-container {
        margin: 3%;
    }
    h4 {
        margin-bottom: 10%;
    }
    h5 {
        margin-top: 8%;
    }
}