* {
    margin: 0%;
    box-sizing: border-box;
}

/* HEADER */
header {
    background-color: green;
    color: white;
    padding: 2%;
    text-align: center;
}

/* MAIN */
main {
    margin: 5%;
}

/* FLEX CONTROL */
.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;

}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

/* SEARCH PANEL */
.search-container {
    margin: 3%;
}

#search-for {
    background-color: green;
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 3% ;
}

input {
    margin: 3%;
}

button {
    margin: 3%;
}

/* CURRENT WEATHER DISPLAY */
.weather-container {
    margin: 3%;
}

#current-weather {
    width: 100%;
    text-align: left;
    margin-right:100%;
}

#forecast {
    width: 100%;
    text-align: left;
}

